@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');

*{
    margin:0;
}

section.banner {
    background-image: url(./img/lemon-pie.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 18rem;

}

#intro {
    font-size: 1.3rem;
    text-align: center;
    background-color: #f6f0fe;
}

body {
    background-color: #f6f0fe;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%239c05ff' fill-opacity='0.1' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='3'/%3E%3Ccircle cx='13' cy='13' r='3'/%3E%3C/g%3E%3C/svg%3E");
    font-family: 'Comfortaa', cursive;
    color: #D47AE8;
}

.ingredientes{
    text-align: center;
}

h1, h2, h3{
    font-family: 'Shrikhand', cursive;
}

h1 {
    background-color: #D47AE8;
    color:#FDFF8F;
    font-size: 3.5rem;
    text-align: center;
}

h2 {
    background-color:#FDFF8F;
    color:#F4BEEE;
    font-size: 3rem;
    text-align: center;
}

h3 {
    color:#D47AE8;
    font-size: 2rem;
}

ul, ol {
    background-color: #f6f0fe;
    font-size: 1.3rem;
    line-height: 2rem;
}